<!DOCTYPE html>
<html>
<head>
	<title>Insert</title>
	<link href="bootstrap.min.css" rel="stylesheet">
	<script src="angular.min.js"></script>  
	<script src="insert.js" type="text/javascript"></script>
</head>
<body>
	<div ng-app="sa_app" ng-controller="insertController">
		<h3>Insert User</h3>
		<div class="col-md-6">
		   	<label>Name</label>
	        <input type="text" name="name" ng-model="name" class="form-control">
	        <br/>
	        <label>Email</label>
	        <input type="text" name="email" ng-model="email" class="form-control">
	        <br/>
	        <label>Age</label>
	        <input type="text" name="age" ng-model="age" class="form-control">
	        <br/>
	        <input type="hidden" ng-model="id">
	        <input type="submit" name="insert" class="btn btn-primary" ng-click="insert()" value="{{btnName}}">
		</div>
    </div>
</body>
</html>